#root {
  max-width: 1110px;
  max-height: 550px;
  background: #F5F7FB;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.landing--header {
  color: #293264;
  text-align: center;
  font-family: Karla;
  font-size: 2rem;
  font-weight: 700;
}

.btn--selected {
  background: #D6D7ED;
}

.btn--checked_selected {
  background: #A3CFA5;
}

.btn--checked_correct_ans {
  background: #ECD4D6;
}