#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn--selected {
  background: #D6D7ED;
}

.btn--checked_selected {
  background: #A3CFA5;
}

.btn--checked_correct_ans {
  background: #ECD4D6;
}